<a href="https://colab.research.google.com/github/AlexVonSchwerdtner/BA780-Team6/blob/main/Boston_Crime_Scene_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Required Packages

In [40]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

Reading all files to the environment

In [41]:
# reading the crime data sets to the environement
crimes2015 = pd.read_csv('https://raw.githubusercontent.com/AlexVonSchwerdtner/BA780-Team6/main/crime-incident-reports-2015.csv')
crimes2016 = pd.read_csv('https://raw.githubusercontent.com/AlexVonSchwerdtner/BA780-Team6/main/crime-incident-reports-2016.csv')
crimes2017 = pd.read_csv('https://raw.githubusercontent.com/AlexVonSchwerdtner/BA780-Team6/main/crime-incident-reports-2017.csv')
crimes2018 = pd.read_csv('https://raw.githubusercontent.com/AlexVonSchwerdtner/BA780-Team6/main/crime-incident-reports-2018.csv')
crimes2019 = pd.read_csv('https://raw.githubusercontent.com/AlexVonSchwerdtner/BA780-Team6/main/crime-incident-reports-2019.csv')
crimes2020 = pd.read_csv('https://raw.githubusercontent.com/AlexVonSchwerdtner/BA780-Team6/main/crime-incident-reports-2020.csv')
crimes2021 = pd.read_csv('https://raw.githubusercontent.com/AlexVonSchwerdtner/BA780-Team6/main/crime-incident-reports-2021.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [47]:
# reading the offense codes to the environment
offense_codes = pd.read_csv('https://raw.githubusercontent.com/AlexVonSchwerdtner/BA780-Team6/main/offense_codes.csv', encoding='latin-1')
offense_codes.head()

   CODE                                     NAME
0   612         LARCENY PURSE SNATCH - NO FORCE
1   613                      LARCENY SHOPLIFTING
2   615  LARCENY THEFT OF MV PARTS & ACCESSORIES
3  1731                                   INCEST
4  3111                LICENSE PREMISE VIOLATION

In [49]:
# checking for any duplicates
print(len(offense_codes))
print(len(offense_codes.drop_duplicates(subset='CODE', keep='first')))

576
425

In [50]:
# dropping duplicates
offense_codes1=offense_codes.drop_duplicates(subset='CODE', keep='first').reset_index(drop=True)

In [51]:
offense_codes1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 425 entries, 0 to 424
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   CODE    425 non-null    int64
 1   NAME    425 non-null    object
dtypes: int64(1), object(1)
memory usage: 6.8+ KB

In [ ]:
#crime_all=pd.concat([crimes2015,crimes2016,crimes2017,crimes2018,crimes2019,crimes2020,crimes2021]).drop_duplicates().reset_index(drop=True)
#print(crime_all.shape)
#print(crimes2015.shape[0]+crimes2016.shape[0]+crimes2017.shape[0]+crimes2018.shape[0]+crimes2019.shape[0]+crimes2020.shape[0]+crimes2021.shape[0])

(493638, 17)
494281

In [22]:
frames=[crimes2015,crimes2016,crimes2017,crimes2018,crimes2019,crimes2020,crimes2021]
Crimes_all_years=finals = pd.concat(frames).drop_duplicates().reset_index()
len(Crimes_all_years)

493638

In [14]:
# checking for any duplicates
print(len(Crimes_all_years))
print(len(Crimes_all_years.drop_duplicates(subset='INCIDENT_NUMBER', keep='first')))

493638
452208

In [15]:
# dropping duplicates
df1=Crimes_all_years.drop_duplicates(subset='INCIDENT_NUMBER', keep='first').reset_index(drop=True)

In [ ]:
# missing values in Lat column
df1[df1['Lat'].isnull()]

In [ ]:
# missing values in Long column
df1[df1['Long'].isnull()]

In [20]:
df1[df1['Lat'].isnull()]['Location'].unique()

array(['(0.00000000, 0.00000000)'], dtype=object)

In [16]:
Crimes_all_years.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493638 entries, 0 to 493637
Data columns (total 18 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   index                493638 non-null  int64
 1   INCIDENT_NUMBER      493638 non-null  object
 2   OFFENSE_CODE         493638 non-null  int64
 3   OFFENSE_CODE_GROUP   352610 non-null  object
 4   OFFENSE_DESCRIPTION  493638 non-null  object
 5   DISTRICT             490518 non-null  object
 6   REPORTING_AREA       493638 non-null  object
 7   SHOOTING             142181 non-null  object
 8   OCCURRED_ON_DATE     493638 non-null  object
 9   YEAR                 493638 non-null  int64
 10  MONTH                493638 non-null  int64
 11  DAY_OF_WEEK          493638 non-null  object
 12  HOUR                 493638 non-null  int64
 13  UCR_PART             352516 non-null  object
 14  STREET               481764 non-null  object
 15  Lat                  471134 non-null  float64
 16  Long                 471134 non-null  float64
 17  Location             493638 non-null  object
dtypes: float64(2), int64(5), object(11)
memory usage: 67.8+ MB

In [ ]:
Crimes_all_years['OFFENSE_CODE_GROUP']=Crimes_all_years['OFFENSE_CODE_GROUP'].fillna("Other")

In [ ]:
Crimes_all_years.isna().sum()

index                       0
INCIDENT_NUMBER             0
OFFENSE_CODE                0
OFFENSE_CODE_GROUP          0
OFFENSE_DESCRIPTION         0
DISTRICT                 3120
REPORTING_AREA              0
SHOOTING               351457
OCCURRED_ON_DATE            0
YEAR                        0
MONTH                       0
DAY_OF_WEEK                 0
HOUR                        0
UCR_PART               141122
STREET                  11874
Lat                     22504
Long                    22504
Location                    0
dtype: int64